# Node
node_modules/
dist/
build/
coverage/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.DS_Store

# Test
/coverage

# Local env
.env
.env.local
.env.*.local

# Mac
.DS_Store

# Misc
.vimswap
*.swp
